
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFileLabel">Enviar um Arquivo</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label" for="field_fileName">Nome do Arquivo</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                    ng-model="vm.file.fileName"
                    required />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fileUrl">URL do Arquivo</label>
            <input type="text" class="form-control" name="fileUrl" id="field_fileUrl"
                    ng-model="vm.file.fileUrl"
                    required />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-upload"></span>&nbsp;<span>Enviar</span>
        </button>
    </div>
</form>
