<form name="uploadFile" role="uploadFile" error-catcher="unexpectedError()" action="/api/uploadFile" method="POST" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()">×</button>
        <h4 class="modal-title">Enviar novo arquivo</h4>
    </div>
    <div class="modal-body">
        <input type="file" name="fileToUpload" id="fileToUpload">

        <input type="hidden" name="currentUrl" id="currentUrl" value="{{vm.url}}">
        <input type="hidden" name="subjectId" id="subjectId" value="{{vm.currentSubjectId}}">

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-upload"></span> Vai!
        </button>
    </div>
</form>
