<div>
    <h2 translate="teachernetApp.file.home.title">Files</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="file.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span translate="teachernetApp.file.home.createLabel">
                        Create new File
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="teachernetApp.file.subjectId">Subject Id</span></th>
                    <th><span translate="teachernetApp.file.fileName">File Name</span></th>
                    <th><span translate="teachernetApp.file.fileUrl">File Url</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in vm.files track by file.id">
                    <td><a ui-sref="file-detail({id:file.id})">{{file.id}}</a></td>
                    <td>{{file.subjectId}}</td>
                    <td>{{file.fileName}}</td>
                    <td>{{file.fileUrl}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="file-detail({id:file.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="file.edit({id:file.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="file.delete({id:file.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
