
<div>
    <h2><span translate="teachernetApp.file.detail.title">File</span> {{vm.file.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="teachernetApp.file.subjectId">Subject Id</span></dt>
        <dd>
            <span>{{vm.file.subjectId}}</span>
        </dd>
        <dt><span translate="teachernetApp.file.fileName">File Name</span></dt>
        <dd>
            <span>{{vm.file.fileName}}</span>
        </dd>
        <dt><span translate="teachernetApp.file.fileUrl">File Url</span></dt>
        <dd>
            <span>{{vm.file.fileUrl}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="file-detail.edit({id:vm.file.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
