
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubjectLabel">Criar ou editar Disciplina</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label" for="field_name">Nome da Disciplina</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.subject.name"
                    required />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_accessToken">Token de Acesso</label>
            <input type="text" class="form-control" name="accessToken" id="field_accessToken"
                    ng-model="vm.subject.accessToken"
                    required />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Salvar</span>
        </button>
    </div>
</form>
