<div>
    <h2>Disciplinas</h2>
    <!--<jhi-alert></jhi-alert>-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="subject.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Nova Disciplina
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>Nome</span></th>
                    <th><span>Token de Acesso</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subject in vm.subjects track by subject.id">
                    <td>
                        <button type="submit"
                                ui-sref="subject-detail({id:subject.id})"
                                class="btn btn-default btn-sm">
                            <span class="hidden-xs hidden-sm">{{subject.name}}</span>
                        </button>
                    </td>
                    <td><code><strong>{{subject.accessToken}}</strong></code></td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="subject.edit({id:subject.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="subject.delete({id:subject.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
