<form name="deleteForm" ng-submit="vm.confirmDelete(vm.subject.id)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title">Confirme a exclusão</h4>
    </div>
    <div class="modal-body">
        <p>Tem certeza que deseja excluir a disciplina <strong>{{vm.subject.name}}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Excluir</span>
        </button>
    </div>
</form>
