<div>
    <div class="row">
        <div class="col-md-9">
            <h2>{{vm.subject.name}}</h2>
            <h4>
                <code><strong>{{vm.subject.accessToken}}</strong></code>
                <button type="button" ui-sref="subject-detail.edit({id:vm.subject.id})" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </h4>
        </div>

        <div class="form-group pull-right col-md-3">
            <div class="btn-group pull-right" role="group" style="margin-top: 23px">
                <button type="button" class="btn" ng-class="{'active btn-success': vm.selectedMenu == 'FILES'}" ng-click="vm.selectedMenu='FILES'">
                    Arquivos
                </button>
                <button type="button" class="btn" ng-class="{'active btn-warning': vm.selectedMenu == 'EVENTS'}" ng-click="vm.selectedMenu='EVENTS'">
                    Eventos
                </button>
            </div>
        </div>

    </div>

    <hr>
    <jhi-alert-error></jhi-alert-error>

    <!-- esta tabela irá exibir os arquivos existentes para esta disciplina -->
    <div class="table-responsive" ng-show="vm.selectedMenu == 'FILES'">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span width="150em">Nome</span></th>
                <th><span width="150em">Download</span></th>
                <th width="150em"></th>
                <th width="50px">
                    <!--<button class="btn btn-sm btn-primary" ui-sref="file.new">-->

                    <button class="btn btn-sm btn-primary" ui-sref="file.newFileUpload">
                        <span class="glyphicon glyphicon-upload"></span>
                    <span>
                        Cadastrar Novo Arquivo
                    </span>
                    </button>

                    <!--<button data-toggle="modal" data-target="#uploadNewFileDialog" class="btn btn-primary" onclick="return false;">-->
                        <!--<span class="glyphicon glyphicon-plus"></span> Novo Arquivo-->
                    <!--</button>-->
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in vm.files track by file.id">
                <td>{{file.fileName}}</td>
                <td><a href="{{file.fileUrl}}" target="_blank">
                    <button class="btn btn-success" >
                        <span class="glyphicon glyphicon-download"></span> Baixar
                    </button>
                </a></td>

                <!-- botão para excluir arquivo -->
                <td class="text-right" colspan="3">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="file.delete({id:vm.subject.id, fileId: file.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- esta tabela irá exibir os eventos existentes para esta disciplina -->
    <div class="table-responsive" ng-show="vm.selectedMenu == 'EVENTS'">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span width="150em">Data</span></th>
                <th><span width="150em">Descrição</span></th>
                <th width="150em"></th>
                <th width="50px">
                    <button class="btn btn-sm btn-primary" ui-sref="event.new">
                        <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Novo Evento
                    </span>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in vm.events track by event.id">
                    <td>{{event.eventDate | date: 'dd/MM' }}</td>
                    <td>{{event.description}}</td>

                    <!-- botões para editar e excluir evento -->
                    <td class="text-right" colspan="3">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="event.edit({eventId: event.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="event.delete({id:vm.subject.id, eventId: event.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="subject"
            class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> {{'entity.action.back' | translate}} </span>
    </button>
</div>
