
<div>
    <h2><span translate="teachernetApp.event.detail.title">Event</span> {{vm.event.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="teachernetApp.event.subjectId">Subject Id</span></dt>
        <dd>
            <span>{{vm.event.subjectId}}</span>
        </dd>
        <dt><span translate="teachernetApp.event.eventDate">Event Date</span></dt>
        <dd>
            <span>{{vm.event.eventDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span translate="teachernetApp.event.description">Description</span></dt>
        <dd>
            <span>{{vm.event.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="event-detail.edit({id:vm.event.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
