<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <!--<span class="hipster img-responsive img-rounded"></span>-->
        </div>
        <div class="col-md-8">
            <h1>Teachernet</h1>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    Você está conectado como <strong>{{vm.account.login}}</strong>.
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    Ainda não possui uma conta? <a class="alert-link" ui-sref="register">Crie uma nova conta</a>
                </div>
            </div>
        </div>
    </div>
</div>
